



.Form {
    grid-area: fm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
   
}

.Form input, button {
    border-radius: 10px;
    width: 30vw;
    height: 5vh;
    
}
